<h2>Faculty Form</h2>

<form name="faculty_form" onsubmit="return validateForm()" method="post">
    <label for="name">Name:</label><br>
  <input type="text" id="name" name="name" placeholder="Enter Your Name"><br>
    <label for="salary">Salary:</label><br>
  <input type="number" id="salary" name="salary" placeholder="Enter Your Salary"><br><br>
      <label for="course">Course Id:</label>
      <select id="course" name="course">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      </select><br><br>
      <input type="submit" value="Submit">
      <input type="reset" value="Reset"><br><br>
      <button><a href='/show_faculty'>Show Details</a></button>
</form>

<script>

function validateForm() {
  let a = document.forms["faculty_form"]["name"].value;
  let b = document.forms["faculty_form"]["salary"].value;
  let c = document.forms["faculty_form"]["course"].value;
  if (a == "") {
    alert("Name must be filled out");
    return false;
  }
  else if (b==""){
    alert ("Salary must be filled out");
    return false;
  }
  else if (c==""){
    alert ("Course ID must be filled out");
    return false;
  }
}

</script>