<button><a href='faculty'><=Back</a></button>
<h2>Faculty Details</h2>
<button onclick="print()">Print This Page</button>
<table>
  <tr>
    <th>Name</th>
    <th>Salary</th>
    <th>Course Id </th>
  </tr>
  <tr>
  <% for i in @faculties.ids %>
    <td><%= @faculties.find(i).name %></td>
    <td><%= @faculties.find(i).salary %></td>
    <td><%= @faculties.find(i).id %></td>
  </tr>
  <%end%>
</table>
