<form>
    <label for="name">Name:</label><br>
  <input type="text" id="name" name="name"><br>
    <label for="age">Age</label><br>
  <input type="integer" id="age" name="age"><br>
    <label for="email">Email</label><br>
  <input type="text" id="email" name="email"><br>
    <label for="contact">Contact No.</label><br>
  <input type="integer" id="Contact" name="Contact"><br>
      <label for="course_id">Course Id</label><br>
    <input type="integer" id="Course" name="Course"><br><br>
      <input type="submit" value="Submit">
</form>