<h2>Certification Form</h2>

<form name="certification_form" onsubmit="return validateForm()" method="post">
    <label for="cid">Certification Id:</label><br>
  <input type="text" id="cid" name="cid" placeholder="Enter Certification ID"><br>
    <label for="sid">Student Id:</label><br>
    <input type="number" id="sid" name="sid" placeholder="Enter Student ID"><br><br>
      <input type="submit" value="Submit">
      <input type="reset" value="Reset"><br><br>
      <button><a href="show_certification">Show Details</a></button>
</form>

<script>

function validateForm() {
  let a = document.forms["certification_form"]["cid"].value;
  let b = document.forms["certification_form"]["sid"].value;
  if (a == "") {
    alert("Certification ID must be filled out");
    return false;
  }
  else if (b==""){
    alert ("Student ID must be filled out");
    return false;
  }
}

</script>