<h2>Certification Form</h2>

<form>
    <label for="name">Certification Id:</label><br>
  <input type="text" id="name" name="name"><br>
    <label for="salary">Student Id:</label><br>
    <input type="number" id="salary" name="salary"><br><br>
      <input type="submit" value="Submit">
      <input type="reset" value="Reset"><br><br>
      <button><a href="show_certification">Show Details</a></button>
</form>