<%# <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
  $(document).ready(function(){
    $("p").click(function(){
      $(this).toggle();
    });
});
</script>
  <title>Navigation Bar</title>
</head>
<body>

<p>If you click on me, I will disappear.</p>
<p>Click me away!</p>
<p>Click me too!</p>

  
</body>
</html> %>
<%# <%=image_tag "student_mgmt_system.png" %>

<h2>Welcome To Student Management System Program</h2>
<h1>Hello, Rails!</h1>
<button id="greet-user-button" class="button">Hello!</button>
<%= javascript_pack_tag 'hello'%>
