<button><a href='feedback'><=Back</a></button>
<h2>Feedback Details</h2>
<button onclick="print()">Print This Page</button>
<table>
  <tr>
    <th>Comment Id</th>
    <th>Comment By</th>
    <th>Content</th>
  </tr>
  <tr>
  <% for i in @feedback.ids%>
    <td><%=@feedback.find(i).comments_id%></td>
    <td><%=@feedback.find(i).comments_type%></td>
    <td><%=@feedback.find(i).content%></td>
  </tr>
    <%end%>
</table>