<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a new email from Aayush Joshi </p>
    <p>
    Email details<br>
    --------------------------<br>
    I Sent this Email to <%= @user.name %><br>
    you got it from Airlines Project using ActionMailer Class
    <br>
    <%= @user.body %>
  </body>
</html>