<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a new email from <%= @stud.name %>!</p>
    <p>
    Email details<br>
    --------------------------
    </p>
    <p>Name: <%= @stud.name %></p>
    <p>Email: <%= @stud.email %></p>
    <p>Phone: <%= @stud.contact_no %></p>
  </body>
</html>