<h1>Editing Pilot</h1>



<%= render 'form', pilot: @pilot %>

<!--

<p>
  <strong>Images:</strong><br>
  <%# @pilot.pics.each do |pic|%>
    <%#= link_to pic.filename , pic %><br>
  <%# end %>
</p>

-->

<%= link_to 'Show', @pilot %> |
<%= link_to 'Back', pilots_path %>


