<h2>Guardian Form</h2>

<form name="guardian_form" onsubmit="return validateForm()" method="post">
    <label for="name">Name:</label><br>
  <input type="text" id="name" name="name" placeholder="Enter Your Name"><br>
    <label for="contact">Contact No.</label><br>
  <input type="number" id="contact" name="contact" placeholder="Enter Your Contact"><br><br>
      <label for="sid">Student Id</label>
      <select id="sid" name="sid">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      </select><br><br>
      <input type="submit" value="Submit">
      <input type="reset" value="Reset">
</form>

<script>

function validateForm() {
  let a = document.forms["guardian_form"]["name"].value;
  let d = document.forms["guardian_form"]["contact"].value;
  let c = document.forms["guardian_form"]["sid"].value;
  if (a == "") {
    alert("Name must be filled out");
    return false;
  }
  else if (b==""){
    alert ("Contact must be filled out");
    return false;
  }
  else if (c==""){
    alert ("Student ID must be filled out");
    return false;
  }
}

</script>