<h2>Guardian Form</h2>

<form>
    <label for="name">Name:</label><br>
  <input type="text" id="name" name="name"><br>
    <label for="contact">Contact No.</label><br>
  <input type="number" id="contact" name="contact"><br><br>
      <label for="sid">Student Id</label>
      <select id="sid" name="sid">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      </select><br><br>
      <input type="submit" value="Submit">
      <input type="reset" value="Reset">
</form>