<%= link_to "Back", customer_new_path %>
<h1 class="h2">This is draft page</h1>
<h2 class="h2">Here are the Details of Customer<h2>

<h2 class="h2">Customer Draft Page</h2>
<button onclick="print()">Print This Page</button><br><br>
<table>

  <tr>
    <th>Name</th>
    <th>Contact</th>
    <th>Product Names</th>
    <th>Create</th>
  </tr>

  <tr>

    <td><%= @customer.name unless @customer[:name].nil? %></td>
    <td><%= @customer.contact unless @customer[:contact].nil? %></td>
    <td><%= @customer.product.name unless @customer[:product_id] == 0 %></td>
  </tr>
  
</table>